@media screen and (min-width: 750px) {
  html {
    font-size: 2rem;
  }
}
body {
  max-width: 750px;
  min-width: 200px;
}
.header {
  height: 1.72rem;
  line-height: 1.72rem;
  text-align: center;
  font-size: 0.4667rem;
  color: #1C1C1C;
  font-weight: 700;
  border-bottom: 1px #eaeaea solid;
}
.nav {
  display: flex;
  height: 6.05rem;
  flex-wrap: wrap;
}
.nav a {
  display: flex;
  width: 33%;
  flex-direction: column;
  height: 2.9333rem;
  align-items: center;
  margin: 0;
}
.nav a img {
  width: 1.44rem;
  height: 1.44rem;
  margin: 0.6667rem 0 0.5333rem 0;
  border-radius: 50%;
}
.nav a span {
  font-size: 0.333rem;
  line-height: 0.333rem;
  color: #707070;
  height: 0.333rem;
}
.logo {
  height: 2rem;
  margin-top: 0.8rem;
  margin-bottom: 0.546rem;
  background-color: #707070;
  background-image: url(../image/组21.png);
  border-radius: 1rem;
  background-size: 100% 100%;
}
.fenge {
  height: 0.1333rem;
  background-color: #F2F4F7;
}
.lubotu1 {
  position: relative;
  height: 7.666rem;
}
.lubotu1 .swiper-button-next {
  position: absolute;
  transform: scale(0.8);
  top: 3.7067rem;
  right: 0.1rem;
  color: #000000;
}
.lubotu1 .swiper-button-prev {
  position: absolute;
  transform: scale(0.8);
  top: 3.7067rem;
  left: 0.1rem;
  color: #000000;
}
.lubotu1 .header1 {
  height: 1.04rem;
  padding-top: 0.546rem;
  padding-left: 0.3067rem;
}
.lubotu1 .header1 img {
  float: left;
  width: 0.4933rem;
  height: 0.4933rem;
  margin-right: 0.24rem;
}
.lubotu1 .header1 h4 {
  float: left;
  margin-top: 0.08rem;
  font-size: 0.3733rem;
  line-height: 0.3733rem;
  color: #333333;
}
.lubotu1 .header1 span {
  float: right;
  line-height: 0.4933rem;
  font-size: 0.2933rem;
  color: #999999;
  margin-right: 0.3333rem;
}
.lubotu1 .body1 {
  margin: auto;
  width: 8.3rem;
}
.lubotu1 .body1 .swiper-container {
  width: 100%;
  height: 100%;
}
.lubotu1 .body1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  transition: 300ms;
  transform: scale(0.8);
  opacity: 0.6;
}
.lubotu1 .body1 .swiper-slide img {
  margin-top: 0.48rem;
  width: 4.5067rem;
  height: 5.0667rem;
}
.lubotu1 .body1 .swiper-slide div {
  height: 0.9333rem;
  text-align: center;
  line-height: 0.9333rem;
  font-size: 0.333rem;
  color: #333333;
}
.lubotu1 .body1 .swiper-slide-active,
.lubotu1 .body1 .swiper-slide-duplicate-active {
  transform: scale(1);
  opacity: 1;
}
.lubotu2 {
  height: 8.5rem !important;
}
.body2 {
  padding-left: 0.36rem;
  margin-top: 0.6rem;
  height: 4.5333rem;
}
.body2 .swiper-container {
  width: 100%;
  height: 100%;
}
.body2 .swiper-slide {
  height: 4.4267rem;
  border: 1px solid #999999;
  border-radius: 0.16rem;
  margin: 2px 0;
  text-align: center;
  box-shadow: 0.006rem -0.006rem 10px 0.0267rem #999999bc;
  font-size: 18px;
  transition: 300ms;
  transform: scale(1);
  opacity: 1;
}
.body2 .swiper-slide img {
  margin-top: 0.1067rem;
  width: 3.64rem;
  height: 2.2667rem;
}
.body2 .swiper-slide div {
  text-align: left;
  height: 1.2rem;
  padding-top: 0.32rem;
  line-height: 0.42rem;
  font-size: 0.4rem;
  color: #333333;
}
.weibu {
  z-index: 1;
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 1.4933rem;
  border-top: 1px solid #999999;
  background-color: #fff;
}
.weibu a {
  display: inline-block;
  width: 22%;
  line-height: 1.4933rem;
  text-align: center;
  font-size: 0.4rem;
  color: #666666;
}
